@media (max-width: 769px) {
    #redes {
        height: 100vh;
        position: relative;
        top: -50px;
        flex-direction: row;
        justify-content: center;
        align-items: end;

    }
    
    #redes img {
        position: relative;
        top: 22px;
        margin: 15px
        
    }
}


