@media (max-width: 769px) {


    main {
        display: flex;
        height: 80vh;
    }
    #redes {
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        justify-items: center;

    }

    

}

@media (max-height: 900px) {

    #redes img {
        border: 1px solid black;
    }
}

